html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        45deg,
        #87bbeb,
        #b9ccf6, 
        #c3deff, 
        #7fbdff, 
        #5e90fb, 
        #818add, 
        #879deb  
    );
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    padding: 10px;
    margin: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    position: fixed;
    top: 10px; 
    left: 60%;
    right: 0;
    transform: translateX(-75%); 
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.014); 
    backdrop-filter: saturate(115%) blur(5px);
    border-radius: 20px; 
}

.navbar .flex-item {
    border: none; 
    padding: 10px 0px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 1;
    max-width: 120px; 
}

.navbar .flex-item a {
    text-decoration: none; 
    color: white; 
    font-weight: 200;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 230px;
    padding-bottom: 220px; 
    gap: 20px;
}

.home .flex-item {
    border: none; 
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex: 1;
    max-width: 100%; 
}

.home .flex-item p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 6em;
    font-weight: 600;
    margin: -10px 10px;
    color: rgb(255, 255, 255); 
}

.home .flex-item p:nth-child(3) {
    font-family: 'Poppins', sans-serif; 
    font-size: 1em;
    font-weight: 500;
    margin-top: 40px; 
    color: white;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.project-card {
    background-color: rgba(0, 1, 16, 0.7); 
    border-radius: 40px; 
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: 500px;
    box-sizing: border-box; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.042);
}

.project-card h1 {
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2em; 
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-card .role {
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
    opacity: 50%;
    
}

.project-card .description {
    color: white;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.6;
}

.project-card img {
    width: 100%;
    border-radius: 20px; 
    margin-top: 15px;
    object-fit: cover;
    max-height: 300px;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 20px;
    color: white;
}

.about .mypicture {
    text-align: right;
}

.about .mypicture img { 
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.176);
}

.about .description {
    padding-left: 50px;
    margin-right: 100px;
    align-items: left;
}

.about .description h1 {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 3em;
    margin-bottom: 10px;
}

.about .description p { 
    line-height: 1.6;
}

.resume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.resume-card {
    background-color: rgba(13, 18, 91, 0.089);
    border-radius: 40px;
    padding: 40px;
    width: 90%;
    box-sizing: border-box;
}

.quadrant-container {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.quadrant {
    padding: 20px; 
}

.resume-content { 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
}

.resume-section { 
    margin-bottom: 20px; 
}

.resume-section h2 {
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2.2em;
    margin-bottom: 10px;
}

.experience-item, .education-item {
    color: white;
    margin-bottom: 15px;
}

.experience-item h3 {
    margin-bottom: 5px;
}

.role, .dates, .degree {
    font-style: italic;
    opacity: 0.7;
    margin: 0; 
}

.skills-list {
    color: white;
}

.skills-list strong {
    font-weight: bold;
}

.experience-item ul {
    list-style-type: disc; 
    padding-left: 20px; 
    margin-top: 10px;
}

.experience-item li {
    margin-bottom: 5px;
}

.edu-logo, .exp-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    vertical-align: middle; 
}

.skills-list, .interests-list {
    color: white;
    list-style: none; 
    padding: 0;
}

.skills-list li, .interests-list li {
    margin-bottom: 10px;
}

.skills-list i, .interests-list i {
    margin-right: 5px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 505px;
    gap: 20px;
    margin-top: 230px;
}

.footer .flex-item p {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255); 
}

.footer .flex-item a {
    text-decoration: none; 
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    color: rgb(255, 255, 255); 
    margin-top: 15px;
}

.footer .flex-item .corp{
    border: none; 
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    flex: 1;
    max-width: 100%; 
}

.footer .flex-item .elsewhere{
    border: none; 
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    flex: 1;
    max-width: 100%; 
}

.footer .flex-item .contact{
    border: none; 
    padding: 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left; 
    flex: 1;
    max-width: 100%; 
}
