body {
    margin: 0;
    padding: 0;
    background: linear-gradient(
        45deg,
        #87bbeb,
        #adbee6, 
        #c3deff, 
        #7fbdff, 
        #5e90fb, 
        #6a85b6, 
        #87a8eb  
    );
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradientAnimation 15s ease infinite;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-item {
    padding: 10px;
    margin: 5px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 0px;
}

.navbar .flex-item {
    border: none; 
    padding: 10px 0px; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex: 1;
    max-width: 120px; 
}

.navbar .flex-item a {
    text-decoration: none; 
    color: white; 
    font-weight: 200;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 220px; 
    gap: 20px;
}

.home .flex-item {
    border: none; 
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex: 1;
    max-width: 100%; 
}

.home .flex-item p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 6em;
    font-weight: 600;
    margin: -10px 10px;
    color: rgb(255, 255, 255); 
}

.home .flex-item p:nth-child(3) {
    font-family: 'Poppins', sans-serif; 
    font-size: 1em;
    font-weight: 500;
    margin-top: 40px; 
    color: white;
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.project-card {
    background-color: rgba(0, 1, 16, 0.7); 
    border-radius: 40px; 
    padding: 20px;
    margin-bottom: 20px; 
    display: flex;
    flex-direction: column; 
    width: 100%; 
    height: 500px;
    box-sizing: border-box; 
}

.project-card h1 {
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 2em; 
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-card .role {
    color: #ffffff;
    font-style: italic;
    font-weight: lighter;
    opacity: 50%;
    
}

.project-card .description {
    color: white;
    margin-bottom: 20px;
    font-size: 1em;
    line-height: 1.6;
}

.project-card img {
    width: 100%;
    border-radius: 20px; 
    margin-top: 15px;
    object-fit: cover;
    max-height: 300px;
}
